/* style sheet */

body {
  background-color:white;
  background: url(?resource=background.png) bottom left fixed repeat-x;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 10pt;
}

a {text-decoration:none; color:#0000BB;}
a:hover {text-decoration:underline; color:#0000BB;}
a:visited {color: #6600BB;}

img {border : 0px; vertical-align : middle;}

.synthese {
	-moz-box-shadow: 2px 2px 3px #888;
	-webkit-box-shadow: 2px 2px 3px #888;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#888888, direction=135, strength=3);
}

table {
	border-color:gray;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px
}
td {font-size: 8pt;}
table tr.header td {background-color: #BDDAEE; font-size: 10pt; font-weight:bold;}
table tr:nth-child(even) {background-color: #FFFFFF;}
table tr:nth-child(odd) {background-color: #E7F4FD;}
table tr.deadlock {background-color: #FAB8BB;}
table tr:hover {background-color: #BDDAEE;}

.tooltip em {
  display:none;
}
.tooltip:hover {
  border: 0;
  position: relative;
  text-decoration:none;
  text-align:left;
}
.tooltip:hover em {
  font-style: normal;
  display: block;
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 5px;
  color: #000;
  border: 1px solid #bbb;
  background: #ffc;
}

div#title {
  padding-top: 1px;
  padding-left: 10px;
  background-color: #5DA2D4;
  height: 60px;
}
div#menu {
  position:absolute; right:10px; top:25px;
  background-color: #5DA2D4;
  font-size: 12pt;
}
#menu ul {
  list-style-type:none;
  margin:0;
  padding:0;
}
#menu a {
  color:#000000;
  font-size: 12pt;
  font-weight:bold;
  text-align:center;
  display:block;
  width:120px;
}
#menu a:hover {text-decoration:none;}
#menu li {
  border:1px solid #5DA2D4;
  background-color: #E7F4FD;
  display:block;
  float: right;
  line-height:38px;
  margin:0;
  padding:0;
  position:relative;
}
#menu li:hover {background-color: #BDDAEE;}

.info {color:green;}
.warning {color:orange; font-weight:bold;}
.severe {color:red; font-weight:bold;}

form {background-color:#F5F5F5;}

div#okMsg {background-color:#99FF99;}
div#warnMsg {background-color:#FFFF99;}
div#errorMsg {background-color:#FF6666;}
