/* style sheet */

body {
  background:#f8fafc;
  font-family:Helvetica, Arial, sans-serif;
  font-size:10pt;
}

a {
  text-decoration:none;
  color:#4a90e2;
}
a:hover {
  text-decoration:underline;
  color:#2f75c8;
}
a:visited {
  color: #7040b5;
}

img {border:0px; vertical-align:middle;}

table {
  border-collapse: collapse;
  border-color: gray;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
  width: 100%;
}
table tr.header td {
  background-color: #4a90e2;
  color: white;
  font-weight: bold;
  padding: 6px;
}
table td {
  padding: 4px 6px;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}
table tr:nth-child(odd) {
  background-color: #f0f7ff;
}
table tr.deadlock {
  background-color: #f7c8ca;
}
table tr:hover {
  background-color: #d7e9fb;
}
table tr.clickable-row a {
  text-decoration: none;
  color: inherit;
  display: block;
}


.tooltip em {
  display:none;
}
.tooltip:hover {
  border: 0;
  position: relative;
  text-decoration:none;
  text-align:left;
}
.tooltip:hover em {
  font-style: normal;
  display: block;
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 5px;
  color: #000;
  border: 1px solid #bbb;
  background: #ffc;
}

#title {
  background: #4a90e2;
  color: white;
  padding: 0px 16px 1px;
  height: 60px;
  display: flex;
  align-items: center;
}


#menu {
  position:absolute; right:10px; top:18px;
  background-color: #5DA2D4;
  font-size: 12pt;
}
#menu ul {
  list-style-type:none;
  margin:0;
  padding:0;
}
#menu a {
  color:#000000;
  font-size: 12pt;
  font-weight:bold;
  text-align:center;
  display:block;
  width:120px;
}
#menu a:hover {text-decoration:none;}
#menu li {
  border:1px solid #5DA2D4;
  background-color: #E7F4FD;
  display:block;
  float: right;
  line-height:38px;
  margin:0;
  padding:0;
  position:relative;
}
#menu li:hover {background-color: #BDDAEE;}

.info {color:green;}
.warning {color:orange; font-weight:bold;}
.severe {color:red; font-weight:bold;}

form {background-color:#F5F5F5;}

div#okMsg {background-color:#99FF99;}
div#warnMsg {background-color:#FFFF99;}
div#errorMsg {background-color:#FF6666;}

.footer {
  font-size:8pt;
  opacity: 0.7;
}
.hidden {display:none;}
